*.sqlite
.coverage
.eggs
.tox
__pycache__
/data_development
/data_testing
/examples/staging/www/com.aptise.opensource.testing.peter_sslers.*
/examples/staging/nginx_conf/com.aptise.opensource.testing.peter_sslers_/sites-available/com.aptise.opensource.testing./
/src/peter_sslers.egg-info
/X_TESTRUN_DATA
