.coverage
.eggs
.tox
_data_
dev
*.sqlite
src/peter_sslers.egg-info
src/peter_sslers/web/scripts/update_foo.py
X_TESTRUN_DATA
examples/staging/www/com.aptise.opensource.testing.peter_sslers.*
examples/staging/nginx_conf/com.aptise.opensource.testing.peter_sslers_/sites-available/com.aptise.opensource.testing.peter_sslers.*

