#
# refer to the main `acme-dns.config` file for comments and info
# this is a stripped-down config file for local tests
#

[general]
listen = "127.0.0.1:53"
protocol = "both"
domain = "auth.example.org"
nsname = "auth.example.org"
nsadmin = "admin.example.org"
records = [
    "auth.example.org. A 127.0.0.1",
    "auth.example.org. NS auth.example.org.",
]
debug = false

[database]
engine = "sqlite3"
connection = "./_data_/acme-dns.db"

[api]
ip = "0.0.0.0"
disable_registration = false
port = "8011"
tls = "none"
tls_cert_privkey = "/etc/tls/example.org/privkey.pem"
tls_cert_fullchain = "/etc/tls/example.org/fullchain.pem"
acme_cache_dir = "api-certs"
corsorigins = ["*"]
use_header = false
header_name = "X-Forwarded-For"

[logconfig]
loglevel = "debug"
logtype = "stdout"
logformat = "text"